//====================================================================================================
.header {
	position: fixed;
	width: 100%;
	z-index: 99999;
	background: #fff;
	left: 0;
	-webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
	-moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
	box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;

	&__menu {
		color: #000000;
		font-weight: 300;
		font-size: 24px;
		line-height: 34px;
		display: flex;
		margin: 0;

		li {
			padding: 0 5px;
		}

		@media (max-width:$md3+px) {
			display: none;
		}
	}


	/* .header__content */
	&__content {}

	/* .header__body */
	&__body {
		display: flex;
		align-items: center;
		height: 100px;
		position: relative;
		justify-content: space-between;

		@media (max-width:$md2+px) {
			height: 80px;
		}

		@media (max-width:$md3+px) {
			justify-content: space-between;
		}

		@media (max-width:$md4+px) {
			height: 65px;
		}
	}

	/* .header__logo */
	&__logo {
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
		justify-content: flex-start;
		z-index: 999;

		@media (max-width:$md3+px) {
			order: 2;
		}
	}

	/* .header__phone */
	&__phone {
		display: none;

		@media (max-width:$md3+px) {
			display: block;
			order: 3;
		}
	}


}

.logo {
	cursor: pointer;

	/* .logo__img */
	&__img {
		width: 79px;
		height: 82px;

		@media (max-width:$md2+px) {
			height: 60px;
			width: 58px;
		}

		@media (max-width:$md4+px) {
			width: 44px;
			height: 46px;
		}
	}

	/* .logo__companyname */
	&__companyname {
		font-weight: 500;
		font-size: 35px;
		line-height: 35px;
		color: #000000;
		z-index: 2;
		text-decoration: none;

		@media (max-width:$md4+px) {
			font-size: 22px;
			line-height: 22px;
		}

		@media (max-width:$md3+px) {
			display: block;
			font-size: 30px;
			line-height: 30px;
		}

		@media (min-width:$md2+px) {
			display: block;
		}

		span {
			font-weight: 700;
			align-items: center;
			color: $mainColor;
		}
	}
}


//====================================================================================================


//Burger
.icon-menu {
	display: none;

	@media (max-width: $md3+px) {
		display: block;
		width: 30px;
		height: 28px;
		cursor: pointer;
		z-index: 5;
		position: relative;

		@media (max-width:$md4+px) {
			width: 24px;
			height: 22px;
		}

		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 3px;
			border-radius: 2px;
			background-color: $mainColor;

			&:first-child {
				top: 0px;
			}

			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}

		&._active {
			span {
				transform: scale(0);
				background-color: #fff;

				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}

				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}